*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    display: flex ;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: blue;
}
.wrapper{
    background: #fff;
    padding: 20px 40px;
    max-width: 410px;
    border-radius: 8px;
    height: 260px;
    transition: height 0.2s ease;
}
.wrapper.active{
    height: 530px;
}
.header p{
    margin-top: 5px;
    color: O#474747;
    font-size: 16px;
    text-align: center;
}
.wrapper .form{
    margin: 20px 0 30px;
}
.form :where(input, button){
    width: 100%;
    height: 55px; 
    border: none;
    outline: none;
    border-radius: 5px;
}
.form input{
    font-size: 18px;
    padding:017px;
    border: 1px solid #999;
}
.form button{
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    font-size: 17px;
    background: blue;
}
.wrapper .qr-code{
    display: flex;
    opacity: 0;
    pointer-events: none;
    padding: 33px 0;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}
.wrapper .qr-code img{
    width: 50%;
    height: 50%;
}
.wrapper.active .qr-code{
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.5s ease;
}

.container{
    height: 270px;
    width: 420px;
    border-radius: 7px;
    background-color: #fff;
    padding: 30px 30px 35px;
    transition: height 0.2s ease;
}

.container.active{
    height: 525px;
}

.container form{
    height: 210px;
    cursor: pointer;
    background: blue;
    color: #fff;
    display: flex;
    text-align: center;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    transition: height 0.2s ease;
}

.container.active form{
    height: 225px;
    pointer-events: none;
}

.container form img{
    display: none;
    max-width: 148px;
}

.container.active form img{
    display: block;
}

.container.active form .content{
    display: none;
}
.container form .content i{
    color: #fff;
    font-size: 55px;
}

.container form .content p{
    color: #fff;
    font-size: 16px;
    margin-top: 15px;
}

.container .details{
    opacity: 0;
    margin-top: 25px ;
    pointer-events: none;
}

.container.active .details{
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.05s ease;
}

.container .details textarea{
    width: 100%;
    height: 128px;
    outline: none;
    color: blue;
    font-size: 18px;
    background: none;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid blue;
}

.container .details .buttons{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.container .details .buttons button{
    height: 55px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background: blue;
    border-radius: 5px;
    width: calc(100%/2 - 10px);
}